body {
  margin: 0;
  font-family: 'Agdasima', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Agdasima';
  src: url('../src/fonts/Agdasima-Regular.ttf') format('truetype'),
  url('../src/fonts/Agdasima-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

